.inline-edit-buttons {
    display: flex;
    gap: 8px;
}

.inline-edit-buttons button {
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s ease;
}

.inline-edit-buttons .save-btn {
    background: linear-gradient(135deg, #00a54f 0%, #2e368e 100%);
    color: white;
}

.inline-edit-buttons .save-btn:hover {
    background-color: #218838;
}

.inline-edit-buttons .cancel-btn {
    /* background-color: #dc3545; */
    color: #dc3545;
    padding: 5px 10px;
}



.custom-pagination {
    display: flex;
    justify-content: end    ;
    margin-top: 20px;
    gap: 8px;
}

.page-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.page-btn:hover:not(.active):not(.disabled) {
    background-color: #1a252f;
}

.page-btn.active {
    background-color: #27ae60;
}

.page-btn.disabled {
    background-color: #7f8c8d;
    cursor: not-allowed;
    pointer-events: none;
}
